<div class="col-12 col-lg-12 d-flex justify-content-center align-items-center spinner" *ngIf="estado">
  <div class="loader"></div>
</div>

<div class="datos" *ngIf="!estado">
  <div *ngIf="temario.aspectos.length <= 0">
    <h4>
      <strong>¡Bienvenido al asistente de aprendijaze!</strong>
    </h4>
    <p>
      <img class="img-logo" src="../../../assets/brand.png">
    </p>
    <h5>Aquí te ayudaremos con el material gratuito para que impulses tu aprendijaze y domines lo que quieras.</h5>
  </div>

  <mat-accordion>
    <mat-expansion-panel [expanded]="nuevaVista" style="margin-bottom: 20px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vídeos
        </mat-panel-title>
        <mat-panel-description style="color: azure; margin-left: 15%; font-size: 20px;">
          {{temario.temaCentral}}
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div class="container contenedor-video" *ngFor="let asp of temario.aspectos">
        <div class="row">
          <h4>{{asp.aspecto}}</h4>
        </div>
        <div class="row">
          <div class="col" *ngFor="let video of asp.videos">
            <div class="row">
              <img src="{{ 'https://i.ytimg.com/vi/' + video.videoId +  '/hqdefault.jpg' }}" alt="Imagen no disponible">
            </div>
            <div class="row mt-3" style="max-height: 40px; min-height: 40px">
              <h5>{{ video.title }}</h5>
            </div>
            <div class="row" style="font-size: 9px; color: beige; text-align: initial; margin-bottom: 0px; margin-top: 0px">
              <ul style="margin-bottom: 0px; margin-top: 0px">{{video.channelTitle}}</ul>
              <ul style="margin-bottom: 0px; margin-top: 0px">{{video.publishTime | date:"dd/MM/yyyy" }}</ul>
            </div>
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="video.isSelected">Checked</mat-checkbox>
            </section>

            <div class="row">
              <div class="col-md-6">
                <button mat-button color="primary" (click)="abrirCurso(video)">Ver Resumen</button>
              </div>
              <div class="col-md-6">
                <a  href="https://www.youtube.com/watch?v={{video.videoId}}">{{'Ver Video'}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <div class="row" style="background-color: rgba(255, 255, 255, 0.1); border-radius: 15px; margin-bottom: 20px">
      <h3>{{temario.temaCentral}}</h3>
      <h4>El contenido generado se basará en los siguientes videos</h4>
      <div class="row">
        <div class="col" *ngFor="let asp of temario.aspectos" style="background-color: lightslategray; border-radius: 15px; margin-left: 15px">
          <h4>{{asp.aspecto}}</h4>
          <div *ngFor="let video of asp.videos">
            <ul *ngIf="video.isSelected">{{video.title}}</ul>
          </div>
        </div>
      </div>
    </div>

    <mat-expansion-panel style="margin-bottom: 20px" (opened)="getDocuments()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Documentos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <div class="col-md-10" style="display: flex; justify-content: center; align-items: center;" *ngIf="!loadingPdf && errorPdf !== ''">
            <mat-error>{{errorPdf}}</mat-error>
          </div>
          <div class="col-md-10" style="display: flex; justify-content: center; align-items: center;" *ngIf="loadingPdf && errorPdf === ''">
            <mat-spinner></mat-spinner>
          </div>
          <div class="col-md-10" *ngIf="!loadingPdf && errorPdf === ''">
            <div class="row">
              <div class="col-md-3 contenedor-pdf" *ngFor="let doc of documents" >
                  <h4>{{doc.temaCentral}}</h4>
                  <h6>{{doc.date}}</h6>
                  <button mat-button color="primary" style="width: 100%; background: darkgray;" (click)="abrirDetalle(doc)">Detalle</button>
              </div>
              </div>
          </div>
          <div class="col-md-2">
            <button mat-button color="primary"
                    (click)="generarDocumento(temario)"
                    style="width: 100%; background: darkgray; height: 125px"
                    [disabled]="loadingPdf"
            >
              <img ngSrc="assets/pdf.png" alt="pdf_icon" height="80" width="80">
              <br>Generar Pdf
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel style="margin-bottom: 20px" (opened)="getConversation()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chat
        </mat-panel-title>
      </mat-expansion-panel-header>


      <div class="container" >
        <div class="row">

          <div class="container" style="max-height: 600px; overflow-y: auto">
            <div class="container" *ngFor="let chat of conversation">
              <div class="row" style="margin-bottom: 15px">
                <div class="col-md-3">
                </div>
                <div class="col-md-9 chat" >
                  {{chat.question}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 chat" style="margin-bottom: 15px">
                  {{chat.response}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="display: flex; justify-content: center; align-items: center;" *ngIf="!loadingChat && errorChat !== ''">
              <mat-error>{{errorChat}}</mat-error>
            </div>
            <div class="col-md-12" style="display: flex; justify-content: center; align-items: center" *ngIf="loadingChat && errorChat === ''">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10">
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Message</mat-label>
                  <input matInput maxlength="256" placeholder="Pregunta..." [formControl]="message" (keyup.enter)="preguntar(loadingChat)">
                  <mat-hint align="start"><strong>Pregunta acerca del contenido</strong> </mat-hint>
                </mat-form-field>
              </form>

            </div>
            <div class="col-md-2">
              <button mat-button color="primary" (click)="preguntar(loadingChat)" [disabled]="loadingChat"><mat-icon>send</mat-icon></button>
            </div>
          </div>
        </div>
      </div>



    </mat-expansion-panel>
  </mat-accordion>








</div>
