<div class="row contenedor">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms" #mattab (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Usuario">
      <div class="row conteiner">
        <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center spinner" *ngIf="getEstado || getLoading">
          <div class="loader"></div>
        </div>

        <div class="example-container" style="padding-left: 40%; padding-right: 40%; margin-top: 30px" *ngIf="getToken === ''">
          <mat-error *ngIf="getError !== ''">{{getError}}</mat-error>
          <div class="row" style="padding-left: 10%; padding-right: 10%; margin-bottom: 30px">
            <img src="assets/login.png" alt="login_icon">
          </div>
          <div class="row conteiner">
            <mat-form-field appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput [type]="'text'" [(ngModel)]="usuario">
            </mat-form-field>
          </div>
          <div class="row conteiner">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="contrasegna">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-button color="primary" style="width: 100%; background: darkgray; margin-bottom: 50px" (click)="login()" [disabled]="getLoading">Iniciar Sesión</button>
          </div>
        </div>

        <div class="example-container" style="padding-left: 5%; padding-right: 5%; margin-top: 25px; margin-bottom: 25px" *ngIf="getToken !== ''">
          <h1>Historial de Búsqueda</h1>
          <div class="row">
            <div class="col-md-3" *ngFor="let tem of getListaTemario">
              <button mat-button color="primary" style="width: 100%; background: darkgray; margin-bottom: 25px" (click)="revisar(tem)">{{tem.temaCentral}}</button>
            </div>
          </div>
        </div>


      </div>
    </mat-tab>
    <mat-tab label="Temario" [disabled]="getToken === ''">
      <app-quiero-aprender [estado]="getEstado" [temario]="getTemario"></app-quiero-aprender>
    </mat-tab>
  </mat-tab-group>
</div>

