<div class="row contenedor">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Buscar Contenido">
      <div class="row conteiner">

        <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center spinner" *ngIf="getEstado">
          <div class="loader"></div>
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngFor="let video of getVideos">
          <div class="card mt-3 mb-3">
              <div class="card-body">

                  <div class="row">
                      <img src="{{ 'https://i.ytimg.com/vi/' + video.cod +  '/hqdefault.jpg' }}" alt="Imagen no disponible">
                  </div>

                  <div class="row mt-3">
                      <h5>{{ video.title }}</h5>
                  </div>

                  <div class="row d-flex flex-row" *ngFor="let trans of video.transcription">
                      <div class="col-12 col-lg-6">
                        <span class="truncateContent">{{trans.content}}</span>
                      </div>
                      <div class="col-12 col-lg-6 d-flex align-items-end">
                          <a  href="https://www.youtube.com/watch?v={{video.cod}}&t={{trans.start}}s">{{convertSecondsToMinutes(trans.start, trans.end)}}</a>
                      </div>

                  </div>

                  <div class="row mt-3 d-flex justify-content-around">
  <!--                    <a class="btn text-white bg-dark botonVer" href="https://www.youtube.com/watch?v={{video.cod}}" target="_blank">Ver</a>-->
                      <a class="btn text-white bg-danger botonFavs" (click)="agregarVideo(video)">&#8902;</a>
                  </div>

              </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Quiero Aprender">
      <app-quiero-aprender [estado]="getEstado" [temario]="getCursos"></app-quiero-aprender>
    </mat-tab>
  </mat-tab-group>
</div>

