<h1 mat-dialog-title>{{data.tema}}</h1>
<div mat-dialog-content>
  <div class="container" *ngFor="let pregunta of data.preguntas">
    <div class="row" >
      <h6>{{pregunta.pregunta}}</h6>
    </div>
    <div class="row" >
      <div class="col" *ngFor="let alternativa of pregunta.respuestas">
        <button mat-button color="primary" style="width: 100%">{{alternativa.respuesta}}</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <button mat-button color="primary" style="width: 100%">Calificar</button>
    </div>
  </div>
</div>
